<div class="title" id="question<%= questionDto.id %>" data-blank-type="<%= questionDto['choice'].blankType %>">
    <span id="title_no">
        <%= questionDto.serial %>.
    </span>
    <%- questionDto.title.replace(/(\\n|\n)/g, '<br>') %>
</div>

<div class="choice"  data-type="<%= questionDto['choice'].optionType %>">
  <% 
      var vertical = false 
      if(questionDto["choice"].optionType == "shared") { 
          questionDto['choice'].shared.forEach(option => { if(option.replace(/\s+/g, '').length > 6) { vertical=true} })
      }else if(questionDto['choice'].optionType == "individual") {
          outerLoop: for (const options of questionDto['choice'].individual) {
              for (const option of options) {
                if (option.replace(/\s+/g, '').length > 6) {
                  vertical = true;
                  break outerLoop; 
                }
              }
          }
      } 
  %>
  <% if (questionDto['choice'].optionType == "shared") { %>
      <% 
        const shared = questionDto['choice'].shared || []
        const userOption = questionDto['choice'].useranswer?.userOption?.[0] || []
        const count = Math.min(shared.length, 8)
        const letters = ['A','B','C','D','E','F','G','H']
      %>
      <ul class="<%= vertical ? 'vertical' : '' %>">
        <% for (let i = 0; i < count; i++) { %>
          <li id="choice<%= i %>" class="<%= userOption.length != 0 && userOption.includes(i) ? 'selected' : '' %>">
            <%= letters[i] %>. <%= shared[i] %>
          </li>
        <% } %>
      </ul>
  <% } %>

  <% if (questionDto['choice'].optionType == "individual") { %>
      <% 
        const letters = ['A','B','C','D','E','F','G','H']
        const individual = questionDto['choice'].individual || []
      %>
    
      <% individual.forEach((options, groupIndex) => { %>
        <div class="individual-group">
          <ul class="<%= vertical ? 'vertical' : '' %>">
            <% 
              const groupOptions = options.slice(0, 8);
              const groupUserOption = questionDto['choice'].useranswer?.userOption?.[groupIndex] || []
            %>
            <% groupOptions.forEach((text, optionIndex) => { %>
              <%
                const isSelected = groupUserOption.length != 0 && 
                groupUserOption.includes(optionIndex)
              %>
              <li 
                id="choice<%= groupIndex %>_<%= optionIndex %>" 
                class="<%= isSelected ? 'selected' : '' %>"
              >
                <%= letters[optionIndex] %>. <%= text %>
              </li>
            <% }); %>
          </ul>
        </div>
      <% }); %>
  <% } %>
</div>

<div class="titleImg-content">
  <% if (questionDto.titleImgs && questionDto.titleImgs.length > 0) { %>
    <% questionDto.titleImgs.forEach(img => { %>
      <img src="/assets/img/<%= img.fileName %>" class="title-img" />
    <% }); %>
  <% } %>
</div>