<div class="title" id="<%= title._id %>">
    <span>
        <%= No %>.
    </span>
    <%= title.title %>
</div>
<div class="choice">
    <% var selectedNo = title.userAnswer ? title.userAnswer.answerIndex : null %>
        <% var vertical = false %>
        <% title.choice.forEach(choice => { if(choice.replace(/\s+/g, '').length > 6) { vertical=true } }) %>
        <ul class="<%= vertical ? 'vertical' : '' %>">
            <% ['A', 'B', 'C', 'D'].forEach(function(value, index){ %>
                <li id="choice<%= index %>" class="<%= selectedNo!=null&&selectedNo==index ? 'selected' : '' %> "><%= value %>. <%= title.choice[index] %>
                </li>
                <% }) %>
        </ul>
</div>