<div class="title" id="<%= titleDto._id %>" data-blank-type="<%= titleDto.blankType %>">
    <span id="title_no">
        <%= No %>.
    </span>
    <%- titleDto.title.replace(/(\\n|\n)/g, '<br>') %>
</div>

<div class="choice"  data-type="<%= titleDto.optionType %>">
  <% 
      var vertical = false 
      if(titleDto.optionType == "shared") { 
          titleDto.options.forEach(option => { if(option.replace(/\s+/g, '').length > 6) { vertical=true} })
      }else if(titleDto.optionType == "individual") {
          outerLoop: for (const options of titleDto.options) {
              for (const option of options) {
                if (option.replace(/\s+/g, '').length > 6) {
                  vertical = true;
                  break outerLoop; 
                }
              }
          }
      } 
  %>
  <% if (titleDto.optionType == "shared") { %>
      <% 
        const shared = titleDto.options || []
        const userOption = titleDto.userAnswer?.userOption?.[0] || []
        const count = Math.min(shared.length, 8)
        const letters = ['A','B','C','D','E','F','G','H']
      %>
      <ul class="<%= vertical ? 'vertical' : '' %>">
        <% for (let i = 0; i < count; i++) { %>
          <li id="choice<%= i %>" class="<%= userOption.length != 0 && userOption.includes(i) ? 'selected' : '' %>">
            <%= letters[i] %>. <%= shared[i] %>
          </li>
        <% } %>
      </ul>
  <% } %>

  <% if (titleDto.optionType == "individual") { %>
      <% 
        const letters = ['A','B','C','D','E','F','G','H']
        const individual = titleDto.options || []
      %>
    
      <% individual.forEach((options, groupIndex) => { %>
        <div class="individual-group">
          <ul class="<%= vertical ? 'vertical' : '' %>">
            <% 
              const groupOptions = options.slice(0, 8);
              const groupUserOption = titleDto.userAnswer?.userOption?.[groupIndex] || []
            %>
            <% groupOptions.forEach((text, optionIndex) => { %>
              <%
                const isSelected = groupUserOption.length != 0 && 
                groupUserOption.includes(optionIndex)
              %>
              <li 
                id="choice<%= groupIndex %>_<%= optionIndex %>" 
                class="<%= isSelected ? 'selected' : '' %>"
              >
                <%= letters[optionIndex] %>. <%= text %>
              </li>
            <% }); %>
          </ul>
        </div>
      <% }); %>
  <% } %>
</div>

<!-- <div class="blank">
  <% 
    const blankSize = titleDto.blankSize || 1
    for(let iblank = 1; iblank <= blankSize; iblank++){ 
  %>
      <div></div>
  <% }   %>
</div> -->

<div class="titleImg-content">
  <% if (titleDto.img) { %>
      <img src="/assets/img/<%= titleDto.img %>" alt="">
    <% } %>    
</div>