<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/css/TQ.css">
    <link rel="stylesheet" href="/assets/css/shadowCover.css">
    <link rel="stylesheet" href="/assets/css/switchSubjectContent.css">
    <link rel="stylesheet" href="/assets/css/settingContent.css">
    <link rel="stylesheet" href="/assets/css/slideSwitch.css">
    <link rel="stylesheet" href="/assets/css/modalCard.css">
    <link rel="stylesheet" href="/assets/css/responseTip.css">
    <script src="/assets/js/TQ.js" type="module"></script>
    <script src="/assets/js/consult.js" type="module"></script>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>www.TQ.org</title>
</head>

<body>
    <div class="content">
        <div class="QA">
            <div class="title-content">
                <%- include('./partials/titleChoiceContent.ejs') -%>
            </div>
            <div class="explanation-content">
                <% if (userSetting.instantJudge && questionDto[questionDto.type].useranswer.userOption) {%>
                    <%- include('./partials/explanationContent.ejs') -%>
                        <% } %>
            </div>
        </div>
        <div class="table-content">
            <ul>
                <% for(var i=1; i <=pageList.length; i++){ %>
                    <% const item=pageList[i - 1]; let className='' ; if (item.userOption) { className+='answered' ; if
                        (userSetting && userSetting.instantJudge) { if(item.isCorrect) { className +=' right' ; } else {
                        className +=' wrong' ; } } } %>
                        <li id="serial<%= pageList[i-1].id %>" class="<%= className %>">
                            <%= i %>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>

    <div class="panel">
        <div class="float-btn">＋</div>
        <div class="actions">
            <div class="actions-item" id="subjectName">
                <%= user.currentSubject %>
            </div>
            <div class="actions-item" id="chapterName">
                <%= user.currentChapter %>
            </div>
            <div class="actions-item" id="sectionName" style="border-bottom: 1px solid rgb(146, 144, 144);">
                <%= user.currentSection %>
            </div>
            <div class="actions-item" id="AIConsultant"
                style="border-bottom: 1px solid rgb(146, 144, 144); cursor: pointer;">
                <span style="display: inline-block;
                padding: 2px 6px;
                font-size: 11px;
                font-weight: bold;
                line-height: 1;
                color: #ffffff;
                background-color: #6e7781;
                /* GitHub 灰 */
                border-radius: 4px;
                margin-right: 6px;
                vertical-align: middle;
                white-space: nowrap;">Beta</span>AI咨询
            </div>
            <div class="action actions-item" id="selectSubject">选择科目与章节</div>
            <div class="action actions-item" id="saveAnswer">提交作答版本</div>
            <% if(user && user.role=='admin' ) { %>
                <div class="action actions-item" id="uploadPictureOfTitle">设置题干图片</div>
                <div class="action actions-item" id="uploadPictureOfExplan">设置解释图片</div>
                <div class="action actions-item" id="editTitle">编辑题目</div>
                <% } %>
                    <div class="action actions-item" id="addFavoriteTitle">加入收藏</div>
                    <div class="action actions-item" id="restartAnswer">重新做题</div>
                    <div class="action actions-item" id="setting">偏好设置</div>
        </div>
    </div>

    <div class="switchSubject-content modalCard"></div>

    <div class="setting-content modalCard">
        <%- include('./partials/settingContent.ejs')-%>
    </div>

    <div class="uploadPictureOfTitle-content modalCard">
        <form>
            <div></div>
            <div class="selectSerialType">
                <label><input type="radio" name="serialType" value="append" required> <span>末尾追加</span></label>
                <label><input type="radio" name="serialType" value="replace" required> <span>替换</span></label>
                <label><input type="radio" name="serialType" value="priorInsert" required> <span>前插</span></label>
                <label><input type="radio" name="serialType" value="remove" required> <span>删除(可多选)</span></label>
            </div>
            <div class="imageQueue">

            </div>
            <input type="file" name="picture" id="inputPictureOfTitle" required disabled>
            <input type="submit" name="submit" value="确认" disabled>
        </form>
    </div>

    <div class="uploadPictureOfExplan-content modalCard">
        <form>
            <div></div>
            <div class="selectSerialType">
                <label><input type="radio" name="serialType" value="append" required> <span>末尾追加</span></label>
                <label><input type="radio" name="serialType" value="replace" required> <span>替换</span></label>
                <label><input type="radio" name="serialType" value="priorInsert" required> <span>前插</span></label>
                <label><input type="radio" name="serialType" value="remove" required> <span>删除(可多选)</span></label>
            </div>
            <div class="imageQueue">

            </div>
            <input type="file" name="picture" id="inputPictureOfTitle" required disabled>
            <input type="submit" name="submit" value="确认" disabled>
        </form>
    </div>

    <div class="addFavoriteTitle-content modalCard">
        <form>
            <div></div>
            <input type="text" name="keywords" id="inputKeywords" placeholder="添加收藏关键词(多个关键词请用逗号分隔)" required>
            <textarea name="comment" id="inputComment" placeholder="添加收藏备注(可选)"></textarea>
            <small>提示：关键词和备注用于搜索收藏的题目</small>
            <input type="submit" value="加入收藏">
        </form>
    </div>

    <div class="editTitle-content modalCard">
        <form>
            <div></div>
            <textarea name="title" id="inputTitle"></textarea>
            <textarea name="explanation" id="inputExplanation"></textarea>
            <input type="submit" value="保存编辑">
        </form>
    </div>

    <div class="shadow-cover"></div>
    <div class="response-tip"></div>
</body>

</html>